<template>
  
</template>
<style scoped>
  
</style>
<script>
  
  export default {
    name: 'home',
    components: {
      
    },
    data: function () {
      return {

      }
    },
    created: function () {    
    },
    mounted: function () {   
    },
    methods: {
      
    }
  }
</script>
