<template>
  <div id="app">
   <div class="home">
      <section class="content">
        <div class="div-construcao">
          <div class="div-img">
            <img class="img-radon" :src="'/static/img/' + imgSvg" alt="Ilustração">
          </div>
          <div class="div-title">
            <span class="a a1"></span>
            <span class="a a2"></span>
            <h1>Olá!</h1>
            <p class="p-work">Estamos trabalhando para que você tenha uma melhor experiência em nosso site.</p>
            <span class="a a3"></span>
            <span class="a a4"></span>
          </div>
          <div class="newsletter">
            <!--  
            <p class="email">Deixe o seu email e nós avisaremos quando estiver pronto.</p>
            <form @submit.prevent="receiveNewsLetter()"> 
              <input type="email" v-model="formNews.desemail" class="input" placeholder="Digite seu email" required>
              <button type="submit" :disabled="isBtnDisabled" class="submit" >submit</button>
              <div style="margin: auto;" v-show="loading">
                <i style=" width: 22px;" class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
              </div>
            </form>
            -->
            <br>
            <p class="sorry">Desculpe o transtorno, mas olha… <br> <strong> …vai valer a pena.</strong></p>
            <img class="like" src="/static/img/like.png" alt="Like">
            <br>
          </div>
        </div>
      </section>
    </div>
    <span class="powered">Powered by FASTERS</span>
  </div>
</template>

<script>
export default {
  name: 'app',
  data: function () { 
    return {
      year: '',
      imgSvg: '',
      formNews: {},
      loading: false,
      currentContent: {},
      form: {},
      units: [],
      btnText: 'Enviar',
      isBtnDisabled: false
    }
  },
  watch: {
    
  },
  created: function () {
    this.svg();
  },
  mounted: function () {},
  methods: {
    alerta: function (x, y, z) {
        iziToast.show({
          title: x,
          message: y,
          theme: 'red', // dark
          color: z, // blue, red, green, yellow
          position: 'topCenter', // bottomRight, bottomLeft, topRight, topLeft, topCenter, bottomCenter, center
          timeout: 8000,
        
        });
    },
    svg: function(){
      var svg = Math.floor((Math.random() * 7) + 1);
      this.imgSvg = svg +".svg"
    },
    receiveNewsLetter: function () {
      this.btnText = 'Enviando...'
      this.isBtnDisabled = true;
      this.loading = true;
      var self = this;

      $.post('https://cms.fastcode.com.br/api/newsletter?token=[TOKEN]', this.formNews)
        .then((response) => {
          this.loading = false;
          this.alerta('Uhul!!,', ' Agora é só aguardar as novidades. Obrigado pela compreensão.', 'green');
          this.formNews.desemail = ''
        },
        (response) => {
          this.loading = false;
          this.alerta('Opa...', ' nossa incrível equipe cibernética identificou o seu email em nosso banco de dados. Você já está cadastrado. Agora é só aguardar!', 'red');
          this.formNews.desemail = ''
        })
        .then(function(){
          self.isBtnDisabled = false;
          self.btnText = 'Enviar'
      });
    }
  },
    head: {
      title: {
        inner: 'Construção'
      },
      meta: [{
        name: 'description',
        content: 'My description here for SEO',
        id: 'description'
      }]
    }
  }
</script>
<style src="./styles/app.css"></style>
<style scoped>
.a{
    height: 8px;
    width: 6px;
    background: #2D7F92;;
    padding: 7px 4px;
    margin: 20px;
    position: absolute;
    border-radius: 3px;
  }
  .a1{
    transform: translateX(531px) translateY(-50px);
  }
  .a2{
    transform: translateX(-28px) translateY(-50px);
  }
  .a3{
    transform: translateX(255px) translateY(-5px);
  }
  .a4{
    transform: translateX(-303px) translateY(-5px);
  }
  .home{
    display: table;
    width: 100%;
  }
  .like{
    width: 50px;
  }
  p, span{
    color: #fff;
  }

  .content{
    height: 95vh;
    background: #1D6677;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  .div-title, .div-img{
    display: inline-block;
  }
  .div-img{
    vertical-align: 40px ;
  }
  .div-title h1, .div-title p{
    display: inline-block;
  }
  .div-title {
    border-top: 5px solid #2D7F92;
    border-bottom: 5px solid #2D7F92;
    padding: 20px 0;
  }
  .div-title h1{
    font-size: 125px;
    color: #fff;
    font-weight: 600;
  }
  .div-title p{
    font-size: 19px;
    font-weight: 500;
    color: #fff;
    text-align: justify;
    letter-spacing: 2px;
    max-width: 299px;
  }
  .div-construcao{
    
  }
  .img-radon{
    width: 150px;
  }
  .input{
    border-radius: 100px;
    border: none;
    padding: 13px 20px;
    width: 50%;
    text-align: center;
    font-weight: 700;

  }
  @media(max-width: 1024px){
    .input{
      width: 80%;
    }
  }
  .input::-webkit-input-placeholder {
    color: rgb(175, 175, 175);
    font-size: 16px;
  }
  .newsletter{

  }
  .submit{
    background-color: transparent;
    border: none;
    background-image: url('/static/img/arrow-right.png');
    background-repeat: no-repeat;
    transform: translateX(-55px) translateY(7px);
    padding: 5px;
    color: transparent;
    position: absolute;
    cursor: pointer;
}
.submit:focus, input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 
.sorry{
  margin-top: 30px;
  
}
.email{
  margin-top: 50px;
  font-size: 20px;
  font-weight: 700;
}
@media(max-width: 620px){
  .a{
    display: none;
  }
}
.powered{
  display: block;
  text-align: center;
}



</style>